body {
  background: #eee;
  font-family: sans-serif;
  padding: 12px;
  margin: 10px auto;
  box-sizing: border-box;
}

.card {
  background: #fff;
  margin: 8px auto;
  padding: 8px;
  width: 600px; 
}

.title {
  background: #e3f4ff;
  margin: 16px auto;
  padding: 10px; 
}

.content {
  background: #e3f4ff;
  padding: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 16px auto;
  font-size: 22px;
}

.button-container {
  background: #e3f4ff;
  font-size: 22px;
  margin: 12px auto;
  display: block;
  padding: 6px;
  text-align: center;
}

button {
  background: white;
  background-size: 10px;
  font-size: 22px;
  border: 1px solid #eee;
  margin: 8px auto;
  display: block;
  padding: 6px;
}